*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: "Inter", sans-serif;
  position: relative;
  min-height: 100vh;
}

/* GLOBAL */
.container {
  max-width: 1536px;
  margin: 0 auto;
}
.page {
  position: relative;
  z-index: 1;
  min-height: 100vh;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: left;
}

/* HEADER */
.header {
  padding: 5px 0;
  background-color: #3e3e52;
}
.header--container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header--logo {
  display: flex;
}
.header--logo-img {
  display: flex;
  max-width: 150px;
  max-height: 80px;
  object-fit: contain;
}
.header--nav {
  display: flex;
  padding-right: 16px;
}
.header--nav-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.header--nav-list-item {
  display: flex;
}
.header--nav-list-item:first-of-type {
  margin-right: 16px;
}
.header--nav-list-item-link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
}
.header--nav-list-item-link:hover,
.header--nav-list-item-link:focus-visible {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  .header--nav {
    padding-right: 40px;
  }
  .header--logo-img {
    max-width: 320px;
  }
  .header--nav-list-item:first-of-type {
    margin-right: 36px;
  }
}

@media screen and (min-width: 1024px) {
  .header--nav-list-item-link {
    font-size: 24px;
  }
}

/* MAIN */
.main {
  padding: 140px 16px;
}
.main--logo {
  max-width: 200px;
  max-height: 80px;
  object-fit: contain;
  margin-bottom: 50px;
}
.main--content {
  max-width: 1050px;
  color: #e4e4e4;
}
.main--title {
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 24px;
}
.main--description {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 40px;
  letter-spacing: -0.04em;
}
.main--soc-list {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.main--soc-list-item:not(:last-of-type) {
  margin-right: 10px;
}
.main--soc-list-item-link {
  display: flex;
}
.main--soc-list-item-link-img {
  max-width: 36px;
  max-height: 36px;
  object-fit: contain;
}

@media screen and (min-width: 768px) {
  .main {
    padding: 140px 20px;
  }
  .main--logo {
    max-width: 280px;
    margin-bottom: 64px;
  }
  .main--title {
    font-size: 35px;
    margin-bottom: 30px;
  }
  .main--description {
    font-size: 24px;
    margin-bottom: 60px;
  }
  .main--soc-list-item-link-img {
    max-width: 44px;
    max-height: 44px;
  }
}

@media screen and (min-width: 1280px) {
  .main--logo {
    max-width: 320px;
    margin-bottom: 76px;
  }
  .main--content {
    margin-left: 100px;
  }
  .main--title {
    font-size: 48px;
  }
  .main--description {
    font-size: 30px;
    margin-bottom: 70px;
  }
  .main--soc-list-item-link-img {
    max-width: 50px;
    max-height: 50px;
  }
}

@media screen and (min-width: 1536px) {
  .main {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 60vh;
  }
}

/* TOOLTIP  */
[data-tooltip] {
  position: relative;
  display: inline-block;
}
[data-tooltip]:after,
[data-tooltip]:before {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -12px);
  z-index: 1000;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  opacity: 0;
  transition: opacity 0.35s ease 0.25s;
}
[data-tooltip]:before {
  content: attr(data-tooltip);
  background: #333;
  color: #eee;
  padding: 8px 12px;
  white-space: nowrap;
  bottom: 100%;
  border-radius: 3px;
  box-shadow: 0 5px 15px -5px rgba(0, 0, 0, 0.65);
}
[data-tooltip]:after {
  content: "";
  background: transparent;
  border: 8px solid transparent;
  border-top-color: #333;
}
[data-tooltip]:active:after,
[data-tooltip]:active:before,
[data-tooltip]:focus:after,
[data-tooltip]:focus:before,
[data-tooltip]:hover:after,
[data-tooltip]:hover:before {
  opacity: 1;
}
[data-tooltip][class*="tooltip-bottom"]:after,
[data-tooltip][class*="tooltip-bottom"]:before {
  transform: translate(-50%, 12px);
}
[data-tooltip][class*="tooltip-bottom"]:before {
  bottom: auto;
  top: 100%;
}
[data-tooltip][class*="tooltip-bottom"]:after {
  bottom: 0;
  border: 8px solid transparent;
  border-bottom-color: #333;
}
[data-tooltip].tooltip-bottom-left:before {
  transform: translate(-24px, 12px);
}
[data-tooltip].tooltip-bottom-right:before {
  left: auto;
  right: 50%;
  transform: translate(24px, 12px);
}
[data-tooltip].tooltip-top-left:before {
  transform: translate(-24px, -12px);
}
[data-tooltip].tooltip-top-right:before {
  left: auto;
  right: 50%;
  transform: translate(24px, -12px);
}
